/* Discentes 
    Raphael Freitas Drago Pinho - 202004940023
    Thiago Correa de Castro - 202004940005 */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  padding: 20px;
}

canvas {
  border: 1px solid #333;
  cursor: crosshair;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.controls {
  margin-top: 10px;
}

#selected-coordinates {
  margin-bottom: 10px;
}

.container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os botões se movam para a linha seguinte se não houver espaço */
  justify-content: center; /* Centraliza os botões */
  gap: 10px; /* Espaço entre os botões */
}

.optionButton {
  flex: 1 1 calc(30% - 10px); /* Cada botão ocupará 30% da largura, menos um espaço de 10px */
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  min-width: 150px; /* Garantir que os botões não fiquem muito pequenos */
}

.optionButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

label {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
}

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
  font-weight: bold;
  color: #007bff;
}

.label-upload {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px; /* Adiciona um espaçamento acima do botão */
}

.label-upload:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
